@model String;
@{
    ViewData["Title"] = "AddComment";
}

@{
    Layout = "~/Views/Shared/_AddForms.cshtml";
}

<html>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <div class="text-center">
        <br />
        <h1 class="display-4">Comment About<em> @Model </em></h1>
        <br />
    </div>
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label class="col-md-4 control-label">Commenter</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <input name="commenter" placeholder="Your Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Comment</label>
                <div class="col-md-12 inputGroupContainer">
                    <div class="input-group">
                        <textarea class="form-control" name="commentText" placeholder="As a fellow fan of the LA Dodgers..." rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <br>
                    <button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                </div>
                <div class="col-md-4">
                    <br>
                    <a class="btn btn-primary" asp-controller="Story" asp-action="ViewStories">Back to Stories</a>
                </div>
            </div>
        </form>
    </div><!-- /.container -->
</body>
</html>

