@{
    ViewData["Title"] = "History";
}

@{
    //Layout = null;
}

<html>
    <body>
        <div class="text-center">
            <h1 class="display-4">History</h1>
            <p>This page will have LA Dodger history.</p>
        </div>
    </body>
</html>
