@{
    ViewData["Title"] = "Home Page";
}

@{
    //Layout = null;
}


<html>
<body>
    <div class="text-center">
        <br />
        <h1 class="display-4">LA Dodgers Fan Site</h1>
        <br />
        <h3>A fan site dedicated to the greatest franchise in MLB!</h3>
    </div>
</body>
</html>
