@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <nav>
            <a class="btn btn-primary" asp-action="Index">Home</a>
            <a class="btn btn-primary" asp-action="History">History</a>
            <a class="btn btn-primary" asp-controller="Sources" asp-action="Sources">Sources</a>
            <a class="btn btn-primary" asp-controller="Story" asp-action="AddStory">Add Stories</a>
            <a class="btn btn-primary" asp-controller="Story" asp-action="ViewStories">View Stories</a>
        </nav>  
        <div class="text-center">
            <br />
            <h1 class="display-4">LA Dodgers Fan Site</h1>
            <br />
            <h3>A fan site dedicated to the greatest franchise in MLB!</h3>
        </div>
    </body>
</html>
