@model List<Book>
@{
    ViewData["Title"] = "Book";
}

@{
    Layout = "~/Views/Shared/_BooksLayout.cshtml";
}

<html>
<body>
    <br />
    <br /><br />
    <div class="text-lg-left">
        <ul style="list-style: none">
            @foreach (Book b in Model)
            {
                <li>
                    <h2> @b.Title </h2>
                    by @b.Author <br />
                    @b.PubDate.ToString("MMMM dd, yyyy")
                    <br />
                    <br />
                </li>
            }
        </ul>
    </div>
</body>
</html>