@model List<Book>
@{
    ViewData["Title"] = "Book";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="History">History</a>
        <a class="btn btn-primary" asp-controller="Sources" asp-action="Sources">Sources</a>
        <a class="btn btn-primary" asp-controller="Story" asp-action="AddStory">Add Stories</a>
        <a class="btn btn-primary" asp-controller="Story" asp-action="ViewStories">View Stories</a>
    </nav>
    <br />
    <div class="text-center">
        <h1 class="display-4">Books</h1>
        <h3>Here are some fantastic books about the LA Dodgers</h3>
    </div>
    <br /><br />
    <div class="text-lg-left">
        <ul style="list-style: none">
            @foreach (Book b in Model)
            {
                <li>
                    <h2> @b.Title </h2>
                    by @b.Author <br />
                    @b.PubDate.ToString("MMMM dd, yyyy")
                    <br />
                    <br />
                </li>
            }
        </ul>
    </div>
</body>
</html>