@model List<Book>
@{
    ViewData["Title"] = "Book";
}

@{
    //Layout = null;
}

<html>
<body>
    <br />
    <div class="text-center">
        <h1 class="display-4">Books</h1>
        <h3>Here are some fantastic books about the LA Dodgers</h3>
    </div>
    <br /><br />
    <div class="text-lg-left">
        <ul style="list-style: none">
            @foreach (Book b in Model)
            {
                <li>
                    <h2> @b.Title </h2>
                    by @b.Author <br />
                    @b.PubDate.ToString("MMMM dd, yyyy")
                    <br />
                    <br />
                </li>
            }
        </ul>
    </div>
</body>
</html>