@{
    ViewData["Title"] = "Links";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Links</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a class="btn btn-primary" asp-action="Index">Home</a>
        <a class="btn btn-primary" asp-action="History">History</a>
        <a class="btn btn-primary" asp-controller="Sources" asp-action="Sources">Sources</a>
        <a class="btn btn-primary" asp-controller="Story" asp-action="AddStory">Add Stories</a>
        <a class="btn btn-primary" asp-controller="Story" asp-action="ViewStories">View Stories</a>
    </nav>
    <div class="text-center">
        <h1 class="display-4">Links</h1>
        <p>Learn about <a href="https://www.mlb.com/dodgers">the LA Dodgers!</a>.</p>
    </div>
</body>
</html>