@model List<Link>
@{
    ViewData["Title"] = "Links";
}

@{
    Layout = "~/Views/Shared/_LinksLayout.cshtml";
}

<html>
<body>
    <br />
    <br />
    <br />
    <div class="text-center">
        <ul style="list-style: none">
            @foreach (Link l in Model)
            {
                <li>
                    <h2><a href="@l.Website"> @l.Desc </a></h2>
                    <br />
                </li>
            }
        </ul>
    </div>
</body>
</html>