@model List<Link>
@{
    ViewData["Title"] = "Links";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Links</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="History">History</a>
        <a class="btn btn-primary" asp-controller="Sources" asp-action="Sources">Sources</a>
        <a class="btn btn-primary" asp-controller="Story" asp-action="AddStory">Add Stories</a>
        <a class="btn btn-primary" asp-controller="Story" asp-action="ViewStories">View Stories</a>
    </nav>
    <div class="text-center">
        <h1 class="display-4">Links</h1>
        <h3>Learn about <a href="https://www.mlb.com/dodgers">the LA Dodgers!</a></h3>
    </div>
    <br />
    <br />
    <div class="text-center">
        <ul style="list-style: none">
            @foreach (Link l in Model)
            {
                <li>
                    <h2><a href="@l.Website"> @l.Desc </a></h2>
                    <br />
                </li>
            }
        </ul>
    </div>
</body>
</html>